# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials
SS_DATABASE_CLASS="MySQLDatabase"
SS_DATABASE_SERVER="localhost"
SS_DATABASE_USERNAME="<user>"
SS_DATABASE_PASSWORD="<password>"
SS_DATABASE_NAME="<database>"

# Logging
SS_ERROR_LOG="silverstripe.log"

# live, test or dev
SS_ENVIRONMENT_TYPE="dev"

# Default CMS details
SS_DEFAULT_ADMIN_USERNAME="<user>"
SS_DEFAULT_ADMIN_PASSWORD="<password>"

# Mapbox token
MAPBOX_TOKEN="pk.eyJ1Ijoic29tYXItZGVzaWduLXN0dWRpb3MiLCJhIjoiY2s1eWJuc2c4MXA5bzNsazBwYTZ6dnM3MiJ9.nReqnpF0FswusJzh405eWw"

# Optional, use for development
LIVE_RELOAD_URL="http://localhost:35729/livereload.js"